body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.header-anchor {
  color: #eaecef;
}

ul,
ol {
  padding-left: 2em;
}

h1,
h2 {
  border-bottom: 1px solid #eaecef;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 1rem;
  line-height: 1.25;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  background-color: #f6f8fa;
}

li + li {
  margin-top: 0.3em;
}

iframe {
  border: 0;
  width: 100%;
  min-height: calc(100vh - 32px);
}
