body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,ol {
  padding-left: 20px;
}

h1,h2 {
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
  padding: 16px 0;
}